body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url("img/8540157.jpg") center/cover no-repeat;
    font-family: sans-serif;
    text-transform: uppercase;
}

.clock {
    display: flex;
}

h1 {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.clock div {
    position: relative;
}

.clock span {
    margin: 0 5px;
    width: 100px;
    height: 70px;
    background: rgb(247, 11, 50);
    color: white;
    opacity: 0.8;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 2px; */
}

.clock .text {
    font-size: 10px;
    height: 30px;
    background: red;
    letter-spacing: 2px;
}

.clock #ampm {
    position: absolute;
    /* bottom: 1; */
    bottom: 0;
    height: 30px;
    width: 50px;
    font-size: 20px;
    background: red;
}